<div class="{{ section.settings.contained }}">
  <div class="row" data-section-id="{{ section.id }}" data-section-type="slideshow-section">

    {% if section.blocks.size > 0 %}
      <div class="col-60 slideshow-wrapper">
        <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
          <span class="slideshow__pause-stop">
            {% include 'icon-pause' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
          </span>
          <span class="slideshow__pause-play">
            {% include 'icon-play' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
          </span>
        </button>

        <div class="slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
          {% for block in section.blocks %}
            {%- assign is_background_video = false -%}
            {% if block.type == 'video' %}
              {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
                {%- assign is_background_video = true -%}
              {% endif %}
            {% endif %}

            <div class="slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>


              <style>
                {% if block.settings.image != blank %}
                  .slideshow__image--{{ block.id }} {
                    background-position: {{ block.settings.alignment }};
                  }

                  @media screen and (max-width: 576px) {
                    .slideshow{height:600px !important;}
                    .slideshow__image--{{ block.id }} {
                      height:600px !important;
                      {% if block.settings.mobimage != blank %}
                      background-image: url('{{ block.settings.mobimage | img_url: '800x' }}');
                        {%else%}
                      background-image: url('{{ block.settings.image | img_url: '800x' }}');
                        {%endif%}
                    }
                  }

                  @media screen and (min-width: 577px) and (max-width: 768px) {
                    .slideshow{height:600px !important;}
                    .slideshow__image--{{ block.id }} {
                       height:600px !important;
                      {% if block.settings.mobimage != blank %}
                      background-image: url('{{ block.settings.mobimage | img_url: '800x' }}');
                        {%else%}
                      background-image: url('{{ block.settings.image | img_url: '800x' }}');
                        {%endif%}
                    }
                  }

                  @media screen and (min-width: 769px) and (max-width: 769px) {
                    .slideshow{height:600px !important;}
                    .slideshow__image--{{ block.id }} {
                       height:600px !important;
                      {% if block.settings.mobimage != blank %}
                      background-image: url('{{ block.settings.mobimage | img_url: '800x' }}');
                        {%else%}
                      background-image: url('{{ block.settings.image | img_url: '800x' }}');
                        {%endif%}
                    }
                  }

                  @media screen and (min-width: 993px) and (max-width: 1200px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1600x' }}');
                    }
                  }

                  @media screen and (min-width: 1201px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '2000x' }}');
                    }
                  }

                {% endif %}

                {% if block.settings.heading_color != blank %}
                  .slideshow__text--{{ block.id }} h2.h1 {
                    color: {{ block.settings.heading_color }};
                  }
                {% endif %}

                {% if block.settings.subheading_color != blank %}
                  .slideshow__text--{{ block.id }} span.mega-subtitle {
                    color: {{ block.settings.subheading_color }};
                  }
                  .slideshow__text--{{ block.id }} hr {
                    border-top-color: {{ block.settings.subheading_color }};
                  }
                {% endif %}

                {% if block.settings.textunderlay %}
                  .slideshow__text--{{ block.id }} .slideshow__text-content .page-width:before {
                    opacity: 1;
                  }
                {% endif %}
              </style>

              {% if block.type == 'video' %}
                {% if block.settings.video_id != blank %}
                  <div class="video-loader"></div>
                {% endif %}
                {% unless block.settings.video_type == 'background' %}
                  <button type="button" class="text-link slideshow__video-control slideshow__video-control--close" data-controls="SlideshowVideo-{{ block.id }}">
                    {% include 'icon-close' %}
                    <span class="icon__fallback-text">{{ 'sections.slideshow.close_video' | t }}</span>
                  </button>
                {% endunless %}
                {% if block.settings.video_id != blank %}
                  <div id="SlideshowVideo-{{ block.id }}" class="slideshow__video {% if is_background_video %}slideshow__video--background{% endif %} slideshow__video--{{ block.settings.video_type }}"
                    data-id="{{ block.settings.video_id }}"
                    data-type="{{ block.settings.video_type }}"
                    data-slideshow="Slideshow-{{ section.id }}"></div>
                {% endif %}
              {% endif %}
                      {% if block.settings.link != blank %}
                        <a data-sectionname="{{section.settings.secname}}" href="{{ block.settings.link }}">
                      {% endif %}
              <div class="slideshow__image slideshow__image--{{ block.id }}">
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
              <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">

                <style>
                  .cta-wrappers--{{ block.id }} .slideshow__link .btn{
                    color:{{ block.settings.cta_color }};
                    background:{{ block.settings.cta_bg_color }};
                  }
                  .cta-wrappers--{{ block.id }} .slideshow__link .btn:hover{
                    color:{{ block.settings.cta_hover_color }};
                    background:{{ block.settings.cta_hover_bg_color }};
                  }

                  .slideshow__text-content--{{ block.id }} {
                    left:{{ block.settings.hor_pos_desktop }}%;
                    top:{{ block.settings.ver_pos_desktop }}%;
                    transform: translate(-{{ block.settings.hor_pos_desktop }}%,-{{ block.settings.ver_pos_desktop }}%);
                  }
                  @media screen and (max-width:991px){
                    .slideshow__text-content--{{ block.id }} {
                    left:{{ block.settings.hor_pos_tab }}%;
                    top:{{ block.settings.ver_pos_tab }}%;
                    transform: translate(-{{ block.settings.hor_pos_tab }}%,-{{ block.settings.ver_pos_tab }}%);
                    }
                  }
                  @media screen and (max-width:767px){
                    .slideshow__text-content--{{ block.id }} {
                    left:{{ block.settings.hor_pos_mobile }}%;
                    top:{{ block.settings.ver_pos_mobile }}%;
                    transform: translate(-{{ block.settings.hor_pos_mobile }}%,-{{ block.settings.ver_pos_mobile }}%);
                    }
                  }

                </style>

                <div class="col-md-30 slideshow__text-content--{{ block.id }} {{ block.settings.text_layout }} text-{{ block.settings.text_align }} slideshow__text-content ">
                  <div class="page-width">
                    {% unless block.settings.title == blank %}
                      <h2 class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                        {{ block.settings.title | escape }}
                      </h2>
                    {% endunless %}
                    {% unless block.settings.title == blank and block.settings.subheading == blank %}
                      <hr />
                    {% endunless %}
                    {% unless block.settings.subheading == blank %}
                      <span class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                        {{ block.settings.subheading | escape }}
                      </span>
                    {% endunless %}
                    {% if block.type == 'video' %}
                      {% unless block.settings.video_type == 'background' %}
                        <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                          <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                            {% include 'icon-play-video' %}
                            <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                          </button>
                        </div>
                      {% endunless %}
                    {% else %}
                    
                    {% endif %}
                  </div>
                  {% if block.type == 'video' %}
                    {% else %}
                    
                    <div class="cta-wrappers cta-wrappers--{{ block.id }}">
                      {% if block.settings.link != blank %}
                        <a data-sectionname="{{section.settings.secname}}" href="{{ block.settings.link }}" class="slideshow__link"><span class="btn">{{ block.settings.button }}</span></a>
                      {% endif %}
                      {% if block.settings.link2 != blank and block.settings.button2 != blank %}
                        <a data-sectionname="{{section.settings.secname}}" href="{{ block.settings.link2 }}" class="slideshow__link"><span class="btn">{{ block.settings.button2 }}</span></a>
                      {% endif %}
                    </div>
                    {% endif %}
                </div>
              </div>

                      {% if block.settings.link != blank and block.settings.button == blank %}
              </a>
                      {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <style>
      .slideshow__link .btn{    background: transparent;
    text-decoration: underline;
    color: white;}
      
    .btn {
    padding-top: 10px !important;
      }
      .slideshow__link {
    display: inline-block !important;
    position: relative !important;
      }
    </style>

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {% endif %}
  </div>
</div>

{% if section.settings.slideshow_height == 'maintain_ratio' %}
  <style type="text/css">
    @media screen and (min-width: 993px) and (max-width: 9200px) {
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide {
      height: auto;
    }
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide:before {
      content: '';
      display: block;
      width: 100%;
      height: 0px;
      {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
      {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
      {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
      padding-top: {{ rounddown | plus: 1 }}%;
    }
  </style>
{% endif %}
