<div class="container">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="row">
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign block_width = 'col-md-15 col-sm-30' -%}
          {%- assign image_size = '620x' -%}
        {% when '33%' %}
          {%- assign block_width = 'col-md-20 col-sm-30' -%}
          {%- assign image_size = '660x' -%}
        {% when '50%' %}
          {%- assign block_width = 'col-sm-30' -%}
          {%- assign image_size = '900x' -%}
        {% when '66%' %}
          {%- assign block_width = 'col-md-40' -%}
          {%- assign image_size = '1100x' -%}
        {% when '75%' %}
          {%- assign block_width = 'col-md-45' -%}
          {%- assign image_size = '1230x' -%}
        {% when '100%' %}
          {%- assign block_width = 'col-md-60' -%}
          {%- assign image_size = '1500x' -%}
      {% endcase %}
      <div class="{{ block_width }} {% if block.settings.alignment %}{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}">
          {% case block.type %}

            {% when 'image' %}
              {% if block.settings.image != blank %}
                {% include 'image', file: block.settings.image, default_size: '900x' %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

            {% when 'text' %}
              <div class="medium-up--text-{{ block.settings.align_text }}">
                {% capture subhead %}
                  {% if block.settings.subheading != blank %}
                    <p class="title">{{ block.settings.subheading }}</p>
                  {% endif %}
                {% endcapture %}
                {% if block.settings.position == 'above' %}
                  {{ subhead }}
                {% endif %}
                {% if block.settings.title != blank %}
                  <h6 class="h5">{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.position == 'below' %}
                  {{ subhead }}
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="rte-setting" style="width:100%;">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                  <a data-sectionname="{{section.settings.secname}}" href="{{ block.settings.button_link }}" class="btn {% unless section.settings.background != blank %}btn--secondary{% endunless %}">{{ block.settings.button_text }}</a>
                {% endif %}
              </div>

            {% when 'video' %}
              <div class="video-wrapper">
                {% if block.settings.video_url == blank %}
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% else %}
                  {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                {% endif %}
              </div>

            {% when 'product' %}
              {%- assign product = all_products[block.settings.product] -%}
              {% if product.title.size > 0 %}
                {% include 'product-card-grid', grid_image_width: image_size %}
              {% else %}
                {% comment %}
                  No product yet. Show onboarding one.
                {% endcomment %}
                <div class="grid-view-item">
                  <a data-sectionname="{{section.settings.secname}}" class="grid-view-item__link" href="#">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      {{ 1999 | money }}
                    </div>
                  </a>
                </div>
              {% endif %}

            {% when 'collection' %}
              {%- assign collection = collections[block.settings.collection] -%}
              {% include 'collection-grid-item', collection_image_size: image_size %}

            {% when 'html' %}
              {% if block.settings.code != blank %}
                {{ block.settings.code }}
              {% endif %}

            {% when 'hr' %}
              <hr />

          {% endcase %}
        </div>
      </div>

    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

<style>
  #shopify-section-{{section.id}} {
    padding-top:{{ section.settings.padt}}; 
   padding-bottom:{{ section.settings.padb}};     
  }
  {% if section.settings.background != blank %}
    #shopify-section-{{ section.id }} {
      background: {{ section.settings.background }};
    }
  {% endif %}

  {% if section.settings.extra_padding == 'large' %}
    #shopify-section-{{ section.id }} .custom__item-inner {
      padding: 6%;
    }
  {% endif %}

  {% if section.settings.extra_padding == 'xlarge' %}
    #shopify-section-{{ section.id }} .custom__item-inner {
      padding: 12%;
    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Custom content",
    "class": "index-section",
    "settings": [
          {
            "type": "text",
            "id": "secname",
            "label": "Section Name (for tracking)",
            "default": "Custom Content"
          },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Custom content"
      },
{
    "type":      "range",
    "id":        "padt",
    "min":       0,
    "max":        100,
    "step":       5,
    "unit":       "px",
    "label":     "Padding Top",
    "default":   50
},
{
    "type":      "range",
    "id":        "padb",
    "min":       0,
    "max":        100,
    "step":       5,
    "unit":       "px",
    "label":     "Padding Bottom",
    "default":   50
},
      {
        "type": "color",
        "id": "background",
        "label": "Background color"
      },
      {
        "type": "select",
        "id": "extra_padding",
        "label": "Padding type",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "large",
            "label": "Large padding"
          },
          {
            "value": "xlarge",
            "label": "Extra large padding"
          }
        ],
        "default": "normal"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Extra info"
          },
          {
            "type": "radio",
            "id": "position",
            "label": "Subheading position",
            "options": [
              {
                "value": "below",
                "label": "Below"
              },
              {
                "value": "above",
                "label": "Above"
              }
            ],
            "default": "below"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "align-self-center",
            "options": [
              {"value": "align-self-start", "label": "Top"},
              {"value": "align-self-center", "label": "Middle"},
              {"value": "align-self-end", "label": "Bottom"}
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "align-self-center",
            "options": [
              {"value": "align-self-start", "label": "Top"},
              {"value": "align-self-center", "label": "Middle"},
              {"value": "align-self-end", "label": "Bottom"}
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "align-self-center",
            "options": [
              {"value": "align-self-start", "label": "Top"},
              {"value": "align-self-center", "label": "Middle"},
              {"value": "align-self-end", "label": "Bottom"}
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "align-self-center",
            "options": [
              {"value": "align-self-start", "label": "Top"},
              {"value": "align-self-center", "label": "Middle"},
              {"value": "align-self-end", "label": "Bottom"}
            ]
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "hr",
        "name": "Horizontal Line Break"
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
