{% if template contains "index" %}
<script src="https://showcase.abovemarket.com/embed/gallery/19285" data-gallery-id="19285" async></script>
{%endif%}
{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
%}
  {%- assign social_icons = true -%}
{% endif %}

{% if section.settings.footer_newsletter_alone %}
  <div class="site-newsletter">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-36 offset-lg-12 col-md-40 offset-md-10">
          <div class="site-footer__newsletter">
            {% include 'newsletter', newsletter_alone: true %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .site-newsletter {
      {% if section.settings.background != blank %}
        background-color: {{ section.settings.background }};
      {% endif %}
      {% if section.settings.newsletter_background != blank %}
        background-color: {{ section.settings.newsletter_background }};
      {% endif %}
      {% if section.settings.newsletter_color != blank %}
        color: {{ section.settings.newsletter_color }}
      {% endif %}
    }
  </style>
{% endif %}

<footer class="site-footer" role="contentinfo" style="margin-top:60px;padding-top:60px;">
  <div class="container">
    <div class="row justify-content-around">

      {% for block in section.blocks %}
        {%- assign footer_linklist = block.settings.linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <div class="col-md-15 col-60">
            {% if block.settings.title != blank %}<h4 class="mobile-toggler">{{ block.settings.title }}</h4>{% endif %}
            <ul class="site-footer__linklist">
              {% for link in linklists[footer_linklist].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
          {% if section.settings.footer_newsletter_enable and section.settings.footer_newsletter_alone == false %}
                <div class="col-md-15 col-60">
            <div class="site-footer__newsletter">
              {% include 'newsletter' %}
            </div>
      </div>
          {% endif %}
    </div>

    <div class="site-footer__copyright--bottom">
      
      {% if section.settings.footer_socials_enable or section.settings.footer_newsletter_enable and section.settings.footer_newsletter_alone == false %}
        <div class="col-md-60" style="text-align:center;">


          {% if social_icons %}
            {% if section.settings.socials_title %}<h4>{{ section.settings.socials_title }}</h4>{% endif %}
            <ul class="list--inline site-footer__social-icons social-icons">
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    {% include 'icon-facebook' %}
                    <span class="icon__fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    {% include 'icon-twitter' %}
                    <span class="icon__fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    {% include 'icon-pinterest' %}
                    <span class="icon__fallback-text">Pinterest</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    {% include 'icon-instagram' %}
                    <span class="icon__fallback-text">Instagram</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    {% include 'icon-tumblr' %}
                    <span class="icon__fallback-text">Tumblr</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    {% include 'icon-snapchat' %}
                    <span class="icon__fallback-text">Snapchat</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    {% include 'icon-youtube' %}
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    {% include 'icon-vimeo' %}
                    <span class="icon__fallback-text">Vimeo</span>
                  </a>
                </li>
              {% endif %}
              {% if template contains 'blog' or template contains 'article' %}
                <li>
                  <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                    {% include 'icon-rss' %}
                    <span class="icon__fallback-text">RSS</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
          
      <small style="    margin-top: 40px;
    display: block;
                    padding-left: 21px;" class="site-footer__copyright-content"><a href="/">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</a></small>

        </div>
      {% endif %}

    </div>

  </div>
</footer>

{% if settings.newsletter_poup %}
  <div id="newsletter-signup" class="white-popup mfp-hide mfp-with-anim"{% if settigns.newsletter_bg != blank %} style="background:url({{ settings.newsletter_bg | img_url: 'grande' }});"{% endif %}>
    <div class="row">
      <div class="col-md-30 offset-md-15">
        {% if settings.newsletter_popup_title != blank %}
          <h3>{{ settings.newsletter_popup_title }}</h3>
          <hr />
        {% endif %}
        {% if settings.newsletter_popup_content != blank %}
          <p>{{ settings.newsletter_popup_content }}</p>
        {% endif %}
        {% include 'newsletter' %}
      </div>
    </div>
  </div>

  <script>
    if(Cookies.get('newslettersign') != 'true') {
      Cookies.set('newslettersign', 'true'{% unless settings.newsletter_popup_length == '0' %}, { expires: {{ settings.newsletter_popup_length }} }{% endunless %});
      $.magnificPopup.open({
        removalDelay: 1000,
        callbacks: {
          beforeOpen: function() {
            this.st.mainClass = 'mfp-move-horizontal'
          }
        },
        items: {
          src: '#newsletter-signup',
          type: 'inline'
        }
      });
    }
  </script>
{% endif %}

<style>
  .site-footer__linklist a:hover {color:#e7d2cc;}  
</style>



{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "If left blank, will default to header logo"
      },
      {
        "type": "header",
        "content": "Socials"
      },
      {
        "type": "checkbox",
        "id": "footer_socials_enable",
        "label": "Show social icons",
        "default": true,
        "info": "Links are set in General Settings"
      },
      {
        "type": "text",
        "id": "socials_title",
        "label": "Socials Title"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false,
        "info": "Form action set in General Settings"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_alone",
        "label": "Display newsletter before footer",
        "info": "Use this to have the newsletter stand on it's own"
      },
      {
        "type": "color",
        "id": "newsletter_background",
        "label": "Newsletter background color",
        "info": "Only applicable if 'Display newsletter before footer' is checked"
      },
      {
        "type": "color",
        "id": "newsletter_color",
        "label": "Newsletter text color",
        "info": "Only applicable if 'Display newsletter before footer' is checked"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Linklist",
            "default": "footer"
          }
        ]
      }
    ]
  }
{% endschema %}