<style>
  .container.megamenu.about {width:55%;}
span.caption.mega {font-size: 16px;
    font-family: "TradeGothicLTProBDCN20";
    text-transform: uppercase;
    margin-top: 10px;
    float: left;
    width: 100%;
    letter-spacing: 0.08em;}
span.megamenu-arrow {font-size:13px;text-align:right;float:right;padding-right:1%;}
</style>



<div class="container megamenu about">
  <div class="row">
  {% for block in section.blocks %}
  <div class="{{ block.settings.column_width }}">
  
  <a href="{{ block.settings.submenu_link_title }}">
  <h4 class="submenu_links" style="color:#000;">{{ block.settings.submenu_link_text_title }}</h4>
  </a>
  
  
          {% case block.type %}
            {% when 'megamenu_image' %}
              {% if block.settings.column_width == 'col-10 mega_image' %}
                {%- assign image_size = '250x' -%}
              {% elsif block.settings.column_width == 'col-20 mega_image' %}
                {%- assign image_size = '500x' -%}
              {% elsif block.settings.column_width == 'col-30 mega_image' %}
                {%- assign image_size = '750x' -%}
              {% elsif block.settings.column_width == 'col-40 mega_image' %}
                {%- assign image_size = '1000x' -%}
              {% elsif block.settings.column_width == 'col-50 mega_image' %}
                {%- assign image_size = '1250x' -%}
              {% elsif block.settings.column_width == 'col-60 mega_image' %}
                {%- assign image_size = '1500x' -%}
              {% else %}
                {%- assign image_size = '700x' -%}
              {% endif %}
              <a href="{{ block.settings.link }}">
                {% include 'image', file: block.settings.image, default_size: image_size %}
                {% if block.settings.caption != blank %}<span class="caption mega">{{ block.settings.caption }}

<span class="megamenu-arrow">
  <i class="fa fa-arrow-right" aria-hidden="true"></i>
</span>

                </span>{% endif %}
              </a>
  
            {% when 'megamenu_menu' %}
              {% if block.settings.linklist %}
                <ul class="submenu_links">
                  {% for link in linklists[block.settings.linklist].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if block.settings.title_2 != blank %}
                <h4>{{ block.settings.title_2 }}</h4>
              {% endif %}
              {% if block.settings.linklist != blank %}
                <ul class="submenu_links">
                  {% for link in linklists[block.settings.linklist_2].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
  
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>


{% schema %}
  {
    "name": "Megamenu 7",
    "class": "megamenu full-width",
    "settings": [
      {
        "type": "header",
        "content": "Megamenu content",
        "info": "Remember, setting what this is attached to is done in the [General settings]"
      }
    ],
    "blocks": [
      {
        "type": "megamenu_image",
        "name": "Image Column",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "column_width",
            "label": "Column span",
            "info": "Auto will attempt to fill automatically",
            "options": [
              { "value": "col", "label": "Auto"},
              { "value": "col-10", "label": "1/6 Column"},
              { "value": "col-12", "label": "1/5 Column"},
              { "value": "col-15", "label": "1/4 Column"},
              { "value": "col-20", "label": "1/3 Column"},
              { "value": "col-24", "label": "2/5 Column"},
              { "value": "col-30", "label": "1/2 Column"},
              { "value": "col-36", "label": "3/5 Column"},
              { "value": "col-40", "label": "2/3 Column"},
              { "value": "col-45", "label": "3/4 Column"},
              { "value": "col-48", "label": "4/5 Column"},
              { "value": "col-50", "label": "5/6 Column"},
              { "value": "col-60", "label": "Full Width"}
            ]
          }
        ]
      },
      {
        "type": "megamenu_menu",
        "name": "Menu Column",
        "settings": [
        {
          "type": "text",
          "id": "submenu_link_text_title",
          "label": "Submenu Link Text Title"
        },
        {
          "type": "url",
          "id": "submenu_link_title",
          "label": "Submenu Link Title"
        },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Linklist"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "linklist_2",
            "label": "Linklist"
          },
          {
            "type": "select",
            "id": "column_width",
            "label": "Column span",
            "info": "Auto will attempt to fill automatically",
            "options": [
              { "value": "col", "label": "Auto"},
              { "value": "col-10", "label": "1/6 Column"},
              { "value": "col-12", "label": "1/5 Column"},
              { "value": "col-15", "label": "1/4 Column"},
              { "value": "col-20", "label": "1/3 Column"},
              { "value": "col-24", "label": "2/5 Column"},
              { "value": "col-30", "label": "1/2 Column"},
              { "value": "col-36", "label": "3/5 Column"},
              { "value": "col-40", "label": "2/3 Column"},
              { "value": "col-45", "label": "3/4 Column"},
              { "value": "col-48", "label": "4/5 Column"},
              { "value": "col-50", "label": "5/6 Column"},
              { "value": "col-60", "label": "Full Width"}
            ]
          }
        ]
      }
    ]
  }
{% endschema %}