<div class="container" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="row quotes-wrapper">
      <div class="col-60">
        <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-show="{{ section.settings.size }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
          {% for block in section.blocks %}
            <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
              <blockquote class="quotes-slider__text text-center">
                <span class="quote-icon">{% include 'icon-quote' %}</span>
                {% if block.settings.quote != blank %}
                  <div class="rte-setting">{{ block.settings.quote }}</div>
                {% endif %}
                {% if block.settings.author != blank %}
                  <cite>{{ block.settings.author | escape }}</cite>
                {% endif %}
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>
<style>
  {% if section.settings.background != blank %}
    #shopify-section-{{ section.id }} {
      background: {{ section.settings.background }};
    }
  {% endif %}
  {% if section.settings.color-blockquote != blank %}
    #shopify-section-{{ section.id }} blockquote .rte-setting {
      color: {{ section.settings.color-blockquote }};
    }
  {% endif %}
  {% if section.settings.color-author != blank %}
    #shopify-section-{{ section.id }} blockquote cite {
      color: {{ section.settings.color-author }};
    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "color-blockquote",
        "label": "Quote color"
      },
      {
        "type": "color",
        "id": "color-author",
        "label": "Author color"
      },
      {
        "type": "select",
        "id": "size",
        "label": "Testimonials to show",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Slider navigational dots?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Slider navigational arrows?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
